section {
    background-color: white;
    padding: 40px;
}

.expense-tracker-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        padding: 10px 20px;
        background: white;
        border: 1px solid black;
        font-weight: bold;
        cursor: pointer;
    }
}

.user-details-container {
    display: flex;
    align-items: center;

    p {
        margin-right: 10px;
    }

    div {
        display: flex;
        align-items: center;
    }

    img {
        width: 20px;
        margin-left: 10px;
        cursor: pointer;
    }

    input {
        padding: 2px;
    }
}